h1 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0;
}

.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

mat-card {
  flex: 1 1 15rem;
  margin: 1rem;
  max-width: 15rem;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-card-header {
  min-height: 3rem;
  display: grid;
  grid-auto-flow: column;
}

mat-icon {
  cursor: pointer;
  justify-self: end;
}

mat-card-subtitle {
  margin: 0;
}

.fav-icon {
  opacity: 0.75;
  color: #303f9f;
  transition: transform 0.3s;
}

.fav-icon:hover {
  opacity: 1;
  transform: scale(1.25);
}
