<div class="movie-cards">
  <mat-card *ngFor="let movie of movies;">
    <img src={{movie.ImagePath}} alt={{movie.Name}}>
    <mat-card-header>
      <mat-card-title>
        <h1>{{movie.Name}}</h1>
      </mat-card-title>
      <mat-icon (click)="toggleFavouriteMovie(movie)" class="fav-icon">{{isFav(movie) ? "favorite" :
        "favorite_border"}}</mat-icon>
    </mat-card-header>
    <mat-card-actions>
      <button (click)="getGenreDetails(movie)" mat-button color="primary">Genre</button>
      <button (click)="getDirectorDetails(movie)" mat-button color="primary">Director</button>
      <button (click)="getMovieDetails(movie)" mat-button color="primary">Synopsis</button>
    </mat-card-actions>
  </mat-card>
</div>