mat-card {
  display: flex;
  align-items: center;
  padding: 1rem;
}

mat-card-header,
mat-card-content,
mat-card-actions {
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

